.Home {

    &__main-section {
        // height: 600px;
        background:linear-gradient(to bottom, rgba(black , .6), rgba(black, 0) ), url('../../img/car-deal.jpg') center/cover no-repeat
    }

}


@media(min-width: 768px) {
    .Home {
        
        &__main-container {
            margin: 100px auto;
        }
    }
}

@media(min-width: 1200px) {
    .Home {
        
        &__main-container {
            margin-bottom: 300px;
        }
    }
}