.Results {

    &__bar {
        background-color: white;

        .form-control {
            width: 232px;
        }
    }
    
    &__information {
        color: var(--dark);
        font-weight: bold;
        margin: 0;
    }

    &__number,
    &__zip {
        color: var(--info);
    }

    &__filter-btn {
        position: relative;
        display: inline-block;
    }

    &__form {
        &-btn {
            font-weight: 500;
        }
    }
}

@media(max-width: 575px) {
    .Results {
        &__bar {
            font-size: 14px;
            
            .form-control {
                font-size: 14px;
                width: 210px;
            }
        }
    }
}