.Listing {
	&__list-group {
		height: 100%;

		& li {
			height: 100%;
			margin-right: -1px;

			&:first-child,
			&:last-child {
				border-radius: 0;
				margin-bottom: -1px;
			}
		}
	}

	&__additional-details-box {
	}
}

.carousel__photo-count {
	bottom: 0;
	left: 0;
	background-color: rgba(black, .5);
	font-weight: 600;
	color: var(--light);
}

@media (max-width: 600px) {
	.eYhPVL {
		height: 350px !important;
	}
}
