.Navbar {
    height: 75px;
}

.Navbar__main-link,
.Navbar__user-link {
    color: var(--light);
    font-weight: 700;
    font-size: 30px;
}

.Navbar__main-link:hover {
    color: var(--light);
}

.Navbar__user-link {
    font-size: 40px;
}

.Navbar__user-link:hover {
    color: #e2e2e2
}

.Navbar__user-number {
    font-size: 14px;
    top: 5%;
    left:62%;
    background-color: var(--red);
}